apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: node-nodevfile-nodocker-rhtap-three-component-scenarios-3w7g
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-lexh-tenant/mc-three-scenarios/node-nodevfile-nodocker-rhtap-three-component-scenarios-3w7g@sha256:998460ea3a42fb960b786e6c771a8335649242cd9efc3b5a78f719f08cb155bd
        name: my-nodejs
        resources: {}
status: {}
