apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-docker-python-rhtap-three-component-scenarios-4c4o
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-lexh-tenant/mc-three-scenarios/devfile-docker-python-rhtap-three-component-scenarios-4c4o@sha256:5f4d1c384ddb09df2b5603cf22c489dbc40435e4fc4e6b92c8f8ed777ad8ae47
        name: my-python
        resources: {}
status: {}
