apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-go-rhtap-three-component-scenarios-0pci
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-lexh-tenant/mc-three-scenarios/devfile-go-rhtap-three-component-scenarios-0pci@sha256:431c459c690408a70731a9143f5b1ae6360a214d3480f130ba065c412560bd4d
        name: my-go
        resources: {}
status: {}
